
.comments-section {
    width: 100%;
    margin: auto;
    border-radius: 25px;
    padding: 10px;
}

.comment, .comment-reply {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 15px;
}

.comment .comment-info, .comment-reply .comment-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
    color: #555;
    border-radius: 10px;
}

.comment .comment-author, .comment-reply .comment-author {
    font-weight: bold;
}

.comment-reply {
    margin-left: 30px;
    background-color: #fff;
    border-radius: 10px;
    
}

.comment-reply-btn {
    cursor: pointer;
    color: #9B12CB;
    font-size: 0.9em;
}

.comment-reply-btn:hover {
    text-decoration: underline;
}

.commentContainer {
    width: 100%;
    height: max-content;
    background: white;
    border-radius: 15px;
    padding: 25px;
}

.contentComment {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 10px;
}

.contentComment:focus {
    outline: 1px solid #9B12CB;
}

.btn-postComment {
    padding: 10px 15px; 
    background: #9B12CB;
    color: white;
    border: none;
    border-radius: 5px;
}

.comment-container {
    margin-top: 1.5rem;
}

.comment-container input.contentComment {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #555;
}

.comment-container button.btn-postComment {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #6f42c1;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.comment-container button.btn-postComment:hover {
    background-color: #5a34a3;
}