
.card {
    margin-top: 20px;
    border-radius: 1rem;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #9B12CB !important;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

.badge {
    font-size: 0.875rem;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
}

.fs-4 {
    font-size: 1.5rem;
}

.text-muted {
    color: #6c757d !important;
}

.d-flex {
    display: flex;
    align-items: center;
}

.ms-2 {
    margin-left: 0.5rem;
}

.me-2 {
    margin-right: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mt-3 {
    margin-top: 1rem;
}



.card-body {
    padding: 1.25rem;
}

.card-body p {
    margin-bottom: 1rem;
}

.card-body .d-flex {
    gap: 1rem;
}

.card-body .card-text {
    font-size: 1rem;
}

.card-body .btn-light {
    background-color: #f8f9fa;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.card-body .btn-light:hover {
    background-color: #e2e6ea;
}

.card-body .btn-light:focus {
    outline: none;
}

/* Ajustes no layout das colunas */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.cardTitle {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.imgAuthorTopic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.cardAuthor {
    margin-bottom: 35px;
}

