.containerTag {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    padding: 20px 0;
}

.cardTag {
    width: 200px;
    height: 200px;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.cardTag:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); 
}

.cardTagTitle {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #4B4B4B;
    text-align: center;
}

.titleTag {
    color: #9B12CB; 
    font-weight: bold; 
    font-size: 35px;
    padding-bottom: 10px;
    border-bottom: 2px solid #9B12CB;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}
